/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jan-2017, 12:02:57
    Author     : J. de Klijn
*/

/*== Jelle en Rouell CSS ==*/
html,
body {
   padding: 0px !important;
   margin: 0px !important;
   height: 100% !important;
}

div {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: 100% 100%; 
    float: left;
}

.container{
    max-width:  calc(100%-30px);
}

.row{   
    display: flex; 
    width: 100%;
}

.Wire1Jelle{
    display: flex; 
    width: 16.67%;
}

.Wire2Jelle{
    display: flex; 
    width: 16.67%;
}

.Wire3Jelle{
    display: flex; 
    width: 16.67%;
}

.Wire4Jelle{
    display: flex; 
    width: 16.67%;
}

.Wire5Jelle{
    display: flex; 
    width: 16.67%;
}

.Wire6Jelle{
    display: flex; 
    width: 16.67%;
}